@{
    ViewData["Title"] = "Blog";
}

<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) bottom">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1>Blog</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->
    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row catsContainer">
                <div class="d-content">
                    <div class="d-text">
                        @foreach (var cat in Model.Category)
                        {
                            <button class="catButton">@cat.CategoryName</button>
                        }
                    </div>
                </div>
            </div>
            <div class="row g-custom-x">
                <div class="blogContainer">
                    @foreach (var post in Model.BlogPost)
                    {
                        <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                <div class="d-content">
                                    <div class="d-image">
                                        <span class="d-image-wrap"><img alt="@post.ImgAlt" src="@post.ImgSrc" class="lazy"></span>
                                    </div>
                                    <div class="d-text">
                                        <a href="Blog/Post/@post.Id"><h4>@post.Title</h4></a>
                                        <p>@post.Content</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="spacer-single"></div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </section>

</div>

<script src="~/js/blogPosts.js"></script>
<!-- content close -->