@{
    ViewData["Title"] = "Blog";
}
<div class="postsCount">@Model.BlogPost.Count</div>
<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) bottom">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1>Blog</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <nav aria-label="Page posts count">
        <ul class="pagination justify-content-center">
            <li class="page-item activeCount"><button class="count-link">3</button></li>
            <li class="page-item"><button class="count-link">5</button></li>
            <li class="page-item"><button class="count-link">10</button></li>
            <li class="page-item"><button class="count-link">15</button></li>
            <li class="page-item"><button class="count-link">20</button></li>
        </ul>
    </nav>

    <!-- section begin -->
    <section aria-label="section">
        <div class="container">
            <div class="row catsContainer">
                <div class="d-content">
                    <div class="d-text">
                        @foreach (var cat in Model.Category)
                        {
                            @if (cat.CategoryName != null){
                                <button class="catButton">@cat.CategoryName</button>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row g-custom-x blogContainer">
                    @foreach (var post in Model.BlogPost)
                    {
                        <div class="col-lg-4 col-md-6 mb20">
                            <div class="de-event-item">
                                <div class="d-content">
                                    <div class="d-image">
                                        <span class="d-image-wrap"><img alt="@post.ImgAlt" src="@post.ImgSrc" class="lazy"></span>
                                    </div>
                                    <div class="d-text">
                                        <a href="/Blog/Post/@post.Id"><h4>@post.Title</h4></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        <div class="spacer-single"></div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button class="page-link prew-pagination" tabindex="-1" aria-disabled="true">Previous</button>
                </li>
                <div class="numeric-pagination-container">
                    <li class="page-item"><button class="page-link numeric-pagination">1</button></li>
                    <li class="page-item"><button class="page-link numeric-pagination">2</button></li>
                    <li class="page-item"><button class="page-link numeric-pagination">3</button></li>
                </div>
                <li class="page-item">
                    <button class="page-link next-pagination">Next</button>
                </li>
            </ul>
        </nav>
        </div>
    </section>

</div>

<script src="~/js/blogWork.js"></script>
<!-- content close -->